# Exploratory Data Analysis (EDA) on Bike Sales Dataset

* Unit price (cash money == proft)
* profit (pengar)
* Ålder på Köp  (för marknadsförings syfte, kan det vara bra, alt för att se vilken lager du behöver)
* köp per land (kan vara bra att veta vilka affärer det går bra för, alt vart du tjänar pengar)
* Datum Day / year   (koppla till exempel ihop med försäljning inför jul)
* Year (pga av att se försäljnings för föregående år eller vad du har sålt)
* Produkt  (vad du säljer, vad du har för lager och vad du tjänar pengar på)



Frågor att fundera på 
vad kan vara intressant för Yohanna att veta?
Vad man kan göra för att marknadsföra mer / tjäna mer pengar och vilka dagar och affärer det går bra för.

vad skulle man kunna få ut från datan?
Statistik ang köp, för att maximera försäljning och se över vilka områden man kan förbättra sig på, även hitta fel i datan där det kan sakna värden

In [18]:
import pandas as pd

df = pd.read_csv("../data/Sales.csv", index_col=0, parse_dates=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [20]:
yearly_sales = df.groupby("Year")["Profit"].sum()
print(yearly_sales)

Year
2011    2881301
2012    2951993
2013    5959208
2014    5864087
2015    7528563
2016    7035948
Name: Profit, dtype: int64

In [22]:
country_sales = df.groupby("Country")["Profit"].sum().sort_values(ascending=False)
print(country_sales)

Country
United States     11073644
Australia          6776030
United Kingdom     4413853
Canada             3717296
Germany            3359995
France             2880282
Name: Profit, dtype: int64

In [ ]:
df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 113036 entries, 2013-11-26 to 2016-03-04
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Day               113036 non-null  int64
 1   Month             113036 non-null  object
 2   Year              113036 non-null  int64
 3   Customer_Age      113036 non-null  int64
 4   Age_Group         113036 non-null  object
 5   Customer_Gender   113036 non-null  object
 6   Country           113036 non-null  object
 7   State             113036 non-null  object
 8   Product_Category  113036 non-null  object
 9   Sub_Category      113036 non-null  object
 10  Product           113036 non-null  object
 11  Order_Quantity    113036 non-null  int64
 12  Unit_Cost         113036 non-null  int64
 13  Unit_Price        113036 non-null  int64
 14  Profit            113036 non-null  int64
 15  Cost              113036 non-null  int64
 16  Revenue           113036 non-null  int64
dtypes: int64(9), object(8)
memory usage: 15.5+ MB

In [ ]:
df.loc["2013"]
# localises specific times in the data set

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2013-07-30,30,July,2013,32,Young Adults (25-34),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,398,360,758
2013-07-15,15,July,2013,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664
2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-10,10,December,2013,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,24,64,207,192,399
2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
2013-10-02,2,October,2013,34,Young Adults (25-34),M,United States,California,Clothing,Vests,"Classic Vest, S",25,24,64,968,600,1568
2013-07-08,8,July,2013,29,Young Adults (25-34),M,Germany,Hessen,Clothing,Vests,"Classic Vest, L",20,24,64,710,480,1190
2013-12-28,28,December,2013,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,24,64,75,48,123

In [ ]:
df.value_counts()

Day  Month      Year  Customer_Age  Age_Group             Customer_Gender  Country        State             Product_Category  Sub_Category       Product                Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  Revenue
15   September  2013  27            Young Adults (25-34)  F                Canada         British Columbia  Accessories       Tires and Tubes    Patch Kit/8 Patches    16              1          2           16      16    32         3
17   March      2014  35            Adults (35-64)        M                Canada         British Columbia  Accessories       Bottles and Cages  Water Bottle - 30 oz.  15              2          5           44      30    74         3
19   November   2015  41            Adults (35-64)        M                United States  California        Accessories       Tires and Tubes    Patch Kit/8 Patches    18              1          2           17      18    35         3
22   November   2013  31            Young Adults (25-34)  F                Canada         British Columbia  Accessories       Bottles and Cages  Water Bottle - 30 oz.  22              2          5           65      44    109        3
24   November   2015  41            Adults (35-64)        M                United States  California        Accessories       Tires and Tubes    Patch Kit/8 Patches    8               1          2           8       8     16         3
                                                                                                                                                                                                                                       ..
31   October    2015  44            Adults (35-64)        M                Australia      Victoria          Bikes             Road Bikes         Road-550-W Yellow, 42  1               713        1120        172     713   885        1
                                                                           United States  California        Accessories       Cleaners           Bike Wash - Dissolver  19              3          8           92      57    149        1
                                                                                                                              Tires and Tubes    Touring Tire Tube      3               2          5           9       6     15         1
                                                                                                                                                                        17              2          5           49      34    83         1
                      47            Adults (35-64)        F                Australia      New South Wales   Accessories       Tires and Tubes    Road Tire Tube         13              1          4           32      13    45         1
Name: count, Length: 112036, dtype: int64

In [23]:
product_sales = df.groupby("Product")["Profit"].sum().sort_values(ascending=False)
print(product_sales)

Product
Mountain-200 Black, 38     1310464
Road-150 Red, 62           1243755
Mountain-200 Silver, 42    1231452
Sport-100 Helmet, Red      1191402
Mountain-200 Silver, 38    1165560
                            ...
Touring-3000 Yellow, 62      18371
Touring-3000 Blue, 50        13424
Mountain-500 Silver, 48       9778
Road-650 Red, 52              9345
Mountain-500 Black, 52        7487
Name: Profit, Length: 130, dtype: int64